<IfModule mod_rewrite.c>
    RewriteEngine On

    # follow links for files that exist
    RewriteCond %{REQUEST_FILENAME}      !-d
    RewriteCond %{REQUEST_FILENAME}      !-f

    # rewrite incoming links
    RewriteCond %{QUERY_STRING} ^cat=([a-zA-Z0-9]*)$
    RewriteRule ^/$ /release/%1 [QSD,R=301,L]
    RewriteCond %{QUERY_STRING} ^cat=([a-zA-Z0-9]*)$
    RewriteRule ^$ /release/%1 [QSD,R=301,L]

    # rewrite app urls
    RewriteRule  ^about$             index.html?/$1 [NC,L]
    RewriteRule  ^release/(.*)$      index.html?/$1 [NC,L]
    RewriteRule  ^tag/(.*)$          index.html?/$1 [NC,L]
    RewriteRule  ^blog/(.*)$         index.html?/$1 [NC,L]


</IfModule>
