<IfModule mod_rewrite.c>
    RewriteEngine On

    # follow links for files that exist
    RewriteCond %{REQUEST_FILENAME}      !-d
    RewriteCond %{REQUEST_FILENAME}      !-f


    # rewrite app urls
    RewriteRule  ^about$            index.html?/$1 [NC,L]
    RewriteRule  ^release/(.*)$      index.html?/$1 [NC,L]
    RewriteRule  ^tag/(.*)$          index.html?/$1 [NC,L]
    RewriteRule  ^blog/(.*)$         index.html?/$1 [NC,L]



    RewriteCond %{HTTP:Accept-Encoding} gzip
    RewriteCond %{REQUEST_FILENAME}.gz -f
    RewriteRule (.*\.(js|css))$ $1.gz [L]

    

    

    # RewriteRule ^(.*)+$  index.html?/$1 [NC,L]

</IfModule>

AddEncoding x-gzip .gz

<FilesMatch .*\.css.gz>
    ForceType text/css
</FilesMatch>

<FilesMatch .*\.js.gz>
    ForceType application/x-javascript
</FilesMatch>


