<div class="release-full">

	<h1>About Us</h1>

	<p>Enough Records is a netlabel (<a href="http://en.wikipedia.org/wiki/Netlabel">wikipedia link</a>). That means all of our catalogue is available free for download.</p>
	
	<p>Our releases are free of any DRM and have associated <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0</a> licenses unless otherwise specified. Feel free to share, use and remix accordingly.</p>

	<ul>We have 4 sub-labels:
	<li><b>Catita!</b>, tagged as "c!", groups 4 releases salvaged from the defunct Catita! netlabel that focused on 8bit music.</li>
	<li><a href="http://enoughrecords.scene.org/anonymous_archives/">Anonymous Archives</a>, tagged as "Anon", our socio-political activist sub-label.</li>
	<li><b>[Esc.] Laboratory</b>, tagged as "[Esc.]", groups releases related to the collective from Germany.</li>
	<li><b>Thisko</b>, tagged as "thisk", groups releases related or co-released with our friends from <a href="http://thisco.net/">Thisco Records</a>.</li>
	</ul>
	
	<p>Our catalogue is free for download in many servers but it is also present on commercial distribution channels such as itunes, amazon and google play. These channels force us to put a price tag on our releases, any income from such channels is used on promotional material for the label. We operate non-profit.</p>

	<p>We are active since 2001. Have no focus on any specific genre. And are closed to demos from new artists. Any further inquiries about Enough Records please <a href="mailto:ps@enoughrecords.org">contact ps by email</a>.</p>

	<p>Website developed by Dan Peddle as an <a href="https://github.com/enoughrec/arecordlabel/">open source project</a>, feel free to fork and contribute.</p>
	
</div>
