<div class="release-full">
	<h1>About Us</h1>
	<p>Enough Records is a netlabel (<a href="http://en.wikipedia.org/wiki/Netlabel">wikipedia link</a>).</p>
	<p>Operating since 2001 as a hobby. Without any commercial intent. Without specific genre direction. Our mission is to promote and distribute music online.<br><br>All of our catalogue is available free for download under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0</a> licenses unless otherwise specified. Feel free to share, use and remix accordingly.</p>

	<p><img src="/iconss/by-nc-sa.eu.png" height="60px"><img src="/iconss//DRM-free.png" height="60px"></p>

	<p>Our catalogue is also present on commercial distribution channels (such as itunes and amazon) which force us to put a price on our releases, income from such channels is used on promotional material for the label, we operate non-profit.</p>

	<p>Any further inquiries about Enough Records please <a href="mailto:ps@enoughrecords.org">contact ps by email</a>.</span></p>
</div>